@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #0086FF;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary;
  border-radius: 2px;
}

.active-pill {
  @apply border-primary font-semibold text-primary;
}

.active-pill > span {
  @apply text-primary;
}
